<html>
  <head></head>
  <body>
{% extends 'layout.html' %}
{% block content %}
    <nav>
      /api/user/{username}/info | /api/user/{username}/pay/{amount}/{user to pay}
    </nav>
    <nav>
      ————————————————————
    </nav>
    <nav>
      made by <a href="https://www.youtube.com/channel/UCp2uxyJLvSqN-xXdiWkblkg">Bacon (Ryan_shamu_YT)</a> and <a href="https://scratch.mit.edu/users/TheHedgehogGamer/">TheHedgehogGamer
    </a></nav><a href="https://scratch.mit.edu/users/TheHedgehogGamer/">

{% endblock content %}</a></body></html>
